.article-list {
    position: relative;
}

.article-item {
    padding-bottom: 2.4rem;
    margin-bottom: 3.2rem;
    border-bottom: solid 0.6px rgba(0, 0, 0, 0.08);
}

.article-item-datetime {
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.48);
    float: right;
}

.article-item-title {
    border: none;
    background: transparent;
    outline: none;
    display: block;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.65);
    margin: 0.4rem 0;
}

.article-item-title:hover {
    cursor: pointer;
    color: rgba(0, 0, 0, 0.92);
}

@media screen and (max-width: 992px) {
    .article-item-title {
        font-size: 1rem;
    }

    .article-item-datetime {
        font-size: 0.8rem;
    }
}