.title {
    text-align: center;
    margin: 4rem;
}

.title-text {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.65);
    font-weight: normal;
}

.title-link {
    font-size: 1.2rem;
    margin: 0 1rem;
}

@media screen and (max-width: 992px) {
    .title {
        margin: 3.2rem;
    }
    .title-text {
        font-size: 1.2rem;
    }
    .title-link {
        font-size: 1rem;
    }
}